.login-icon {
    margin-top: -2px;
}

.justifier {
    width: 100%;
    /* padding-bottom: 2%; */
}

.login-button {
    width: 100%;
    padding: 1.5% !important;
    background-color: #673ab7;
    font-size: 1.5em;
    color: #fff !important;
}

.mat-form-field-subscript-wrapper,
.mat-input-subscript-wrapper,
.mat-form-field-subscript-wrapper {
    /* for error message alignment */
    margin-top: 0px !important;
}