<app-header></app-header>
<mat-card>
    <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile>
            <h2 style="text-align: left;width:100%">Update Supplier</h2>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-table #table [(dataSource)]="itemsDataSource">
        <ng-container matColumnDef="supplierName">
            <mat-header-cell *matHeaderCellDef> Supplier Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Name" [(ngModel)]="element.supplierName" name="supplierName" />
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef> Supplier Contact </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Contact" [(ngModel)]="element.contact" name="contact" />
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="accent" (click)="update(element)">Update</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="warn" (click)="deleteSupplier(element)">Delete</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedItemsColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedItemsColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="500" [pageIndex]="pageEvent.pageIndex" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="[50, 100, 200]" hidePageSize="true" (page)="getServerData($event)">
    </mat-paginator>
</mat-card>